@font-face {
    font-family: 'kaushan';
    src: url('fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('fonts/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dejavu_sansbook';
    src: url('fonts/dejavusans-webfont.woff2') format('woff2'),
         url('fonts/dejavusans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    display: flex;
    margin: 0px 100px;
    background-color: rgb(243, 107, 127);
}
h1 {
    font-family:'kaushan';
    font-size: 52px;
    color: white;
}

p {
    font-family: 'dejavu_sansbook';
    margin: 10px 20px;
}

label {
    font-size: 8px;
    font-family: 'dejavu_sansbook';
    text-align: left;
}

.main-content {
    background-color: lightcoral;
}

.info {
    font-weight: bold;
    font-size: 12px;
    line-height: 125%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image-footer{
    color: white;
    font-size: 8px;
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 10px;
}

.image-content {
    background-image: url("flowers.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index:-1;
}

.header-background {
    position: relative;
    top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:rgba(0,0,0,0.2);
    background-position: -40px;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

input {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 8px;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

button {
    margin: 10px 20px;
    font-family: 'dejavu_sansbook';
    font-size: 8px;
    border-radius: 5px;
    border-width: 0px;
    background-color: 
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px 20px;
}

.form-container {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding-bottom: 20px;

}

.create-account {
    font-size: 8px;
}

a {
    text-decoration: none;
    color: antiquewhite;
}
input[type="password"]:invalid {
    outline: 1px solid red;
    border-radius: 5px;
}

input:focus {
    outline: 1px solid blue;
    border-radius: 5px;
}

input {
    width: 100px;
}